<footer>
    <div class="footer-container">
        <div class="footer-content-container">
            <h3 class="logo">NEXT</h3>
            <span class="footer-info"><i class="fab fa-whatsapp-square"></i> +54 9 3876 454496</span>
            <p class="footer-info"><i class="fas fa-envelope"></i> admin@nextinternet.com.ar</p>
            <p class="footer-info"><i class="fas fa-map-marker-alt"></i> Bartolomé Mitre Este 77, Metán - Salta</p>
        </div>
        <div class="footer-menus">
            <div class="footer-content-container">
                <span class="menu-title">Menu</span>
                <a routerLink="#" class="menu-item-footer">Inicio</a>
                <a routerLink="#" class="menu-item-footer">Contratar</a>
                <a routerLink="#" class="menu-item-footer">Contacto</a>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <span class="copyright">&copy;2022, Next Internet</span>
    </div>
</footer>