<section>
    <div class="content">
        <h1 class="logo">Next Internet <i class="fa-solid fa-house-signal"></i></h1>
        <div class="contact-wrapper">
            <div class="contact-form">
                <h3>Contratá tu plan</h3>
                <form action="">
                    <div class="control">
                        <label for="planContratado">Mi plan</label>
                        <select name="" id="">
                            <option value="plan-uno">Fibra Óptica 30Mb $2600/mes</option>
                            <option value="plan-dos">Fibra Óptica 50Mb $3500/mes</option>
                            <option value="plan-tres">Fibra Óptica 100Mb $4000/mes</option>
                        </select>
                    </div>
                    <div class="control">
                        <label for="nombre">Nombre:</label>
                        <input type="text" placeholder="Tu nombre completo">
                    </div>
                    <div class="control">
                        <label for="apellido">Apellido:</label>
                        <input type="text" placeholder="Tu apellido">
                    </div>
                    <div class="control">
                        <label for="domicilio">Domicilio:</label>
                        <input type="text" placeholder="Tu domicilio exacto">
                    </div>
                    <div class="control">
                        <label for="dni">Dni:</label>
                        <input type="text" placeholder="Nro de Dni">
                    </div>
                    <div class="control">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" placeholder="Tu número de teléfono">
                    </div>
                    <div class="control">
                        <label for="correo">E-mail:</label>
                        <input type="email" placeholder="ejemplo@ejemplo.com">
                    </div>
                    <div class="control">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="contact-info">
                <h4>More info</h4>
                <ul>
                    <li>
                        <i class="fas fa-map-marker-alt">Mitre Este 77 - Metán, Salta</i>
                    </li>
                    <li>
                        <i class="fas fa-phone">+54 3876-454496</i>
                    </li>
                    <li>
                        <i class="fas fa-envelope-open-text">admin@nextinternet.com</i>
                    </li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eligendi
                        ipsum neque dignissimos vero provident ea mollitia cupiditate facere consequuntur.
                    </p>
                    <p>Next Internet - Metán</p>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--plan a contratar
nombre y apellido
domicilio
dni
telefono
correo

precios dde los planes
30mb $2600
50mb $3500
100mb $4000
instalacion $3000 por única vez -->