<h1>Inicio</h1>
<div class="card">
    <div class="card-head">Inicio lorem</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro exercitationem quasi vel at hic sit quis! Rerum, inventore cupiditate. Alias expedita ipsa voluptas aliquam at enim sit aliquid dolores iusto.
        </div>
</div>

<div class="card">
    <div class="card-head">Inicio lorem</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro exercitationem quasi vel at hic sit quis! Rerum, inventore cupiditate. Alias expedita ipsa voluptas aliquam at enim sit aliquid dolores iusto.
        </div>
</div>