// Import de google fonts para definir el estilo de letra 

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

//Definición de configuraciones generales del proyecto, margenes, padding y estilo de cajas

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}